@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./spacing.css";
@import "./theme.css";

@theme {
/* Colors */
--color-gray-50: oklch(0.985 0 0);
--color-gray-100: oklch(0.97 0 0);
--color-gray-200: oklch(0.922 0 0);
--color-gray-300: oklch(0.87 0 0);
--color-gray-400: oklch(0.708 0 0);
--color-gray-500: oklch(0.556 0 0);
--color-gray-600: oklch(0.439 0 0);
--color-gray-700: oklch(0.371 0 0);
--color-gray-800: oklch(0.269 0 0);
--color-gray-900: oklch(0.205 0 0);
--color-gray-950: oklch(0.145 0 0);
--color-primary-50: oklch(0.962 0.018 272.314);
--color-primary-100: oklch(0.93 0.034 272.788);
--color-primary-200: oklch(0.87 0.065 274.039);
--color-primary-300: oklch(0.785 0.115 274.713);
--color-primary-400: oklch(0.673 0.182 276.935);
--color-primary-500: oklch(0.585 0.233 277.117);
--color-primary-600: oklch(0.511 0.262 276.966);
--color-primary-700: oklch(0.457 0.24 277.023);
--color-primary-800: oklch(0.398 0.195 277.366);
--color-primary-900: oklch(0.359 0.144 278.697);
--color-primary-950: oklch(0.257 0.09 281.288);
--color-secondary-50: oklch(0.979 0.021 166.113);
--color-secondary-100: oklch(0.95 0.052 163.051);
--color-secondary-200: oklch(0.905 0.093 164.15);
--color-secondary-300: oklch(0.845 0.143 164.978);
--color-secondary-400: oklch(0.765 0.177 163.223);
--color-secondary-500: oklch(0.696 0.17 162.48);
--color-secondary-600: oklch(0.596 0.145 163.225);
--color-secondary-700: oklch(0.508 0.118 165.612);
--color-secondary-800: oklch(0.432 0.095 166.913);
--color-secondary-900: oklch(0.378 0.077 168.94);
--color-secondary-950: oklch(0.262 0.051 172.552);

/* Typography */
--font-family: "Inter";
--font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-body: var(--font-family), var(--font-fallback);
--font-display: var(--font-body);
}